.formWrapper {
  background-color: rgb(42, 228, 228);
  display: flex;
  flex-direction: column;
  border: black solid;
  color: black;
}
.formWrapper > label {
  margin: 10px;
}
.formWrapper > div > label {
  margin: 10px;
}
.formWrapper > div > input {
  margin: 10px;
}
.formWrapper > select {
  margin: 10px;
}
.formWrapper > input {
  margin: 10px;
}
.btnFormWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.btnFormWrapper > button {
  margin: 5px;
}
