.dayClickedactivities {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 4px solid black;
  background-color: rgba(0, 0, 255, 0.409);

  font-size: 3rem;
  color: white;
  width: 100%;
  height: 85%;
}
.DayTitle {
  margin: 10px;
}
.floatingForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.dayFormWrapper {
  width: 100%;
  height: 100%;
}
