.dayClickedactivities {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #a87070;
  border-radius: 20px;

  font-size: 3rem;
  color: #c75050;
  width: 100%;
  height: 85%;
}
.DayTitle {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
.DayTitleLetter {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #3e2424;
  font-size: 3rem;
}
.floatingForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.dayFormWrapper {
  position: absolute;
  width: 40%;
  height: 60%;
}
